<h2>BusinessCard list</h2>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" position="start"><app-searchbar></app-searchbar></mat-sidenav>
              <mat-card class="card" *ngFor="let bcc of dummyBusinessCards"
                [class.selected]="bcc === selectedBcc">
                  <mat-card-title>
                    <mat-icon *ngIf="bcc.address === 'Budapest'" matListIcon style="color: red">fiber_new</mat-icon>
                    <mat-icon *ngIf="bcc.address === 'New York'" matListIcon style="color: orange">build</mat-icon>
                    <mat-icon *ngIf="bcc.address === 'Torino'" matListIcon style="color: green">done</mat-icon>
                    </mat-card-title>
                  <mat-card-content>
                    <h3 matLine>{{bcc.name}} - {{bcc.category}}</h3>
                    <small matLine>
                      <mat-icon>place</mat-icon>{{bcc.address}}
                    </small>
                    <p matLine>{{bcc.phone}}</p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button *ngIf="isLoggedIn()">Collect (if im not collected yet)</button>
                    <button mat-button *ngIf="isLoggedIn()" (click)="selectBcc(bcc)" [routerLink]="['/cds', bcc.id, 'edit']" >Edit</button>
                    <button mat-button *ngIf="isLoggedIn()">Delete (if im the owner)</button>
                  </mat-card-actions>
                    <bcc-form *ngIf="selectedBcc == bcc" [bcc]="selectedBcc"></bcc-form>
                </mat-card>
                
  </mat-sidenav-container>
  

