h2 {
  padding-left: 16px;
  padding-right: 16px;
}
small mat-icon {
  font-size: smaller;
  height: auto;
  width: auto;
}
a.selected {
  background-color: orange;
}
mat-card {
  width: calc(90% - 10px);
  height: calc(70% - 70px);
  margin-left: 20px;
}
.card {
  margin-bottom: 15px;
}
mat-sidenav{
  width: 20%;
}