<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
    BCC - Business Card Collector
  </button>
  <button mat-button routerLink="/issues">My BCs</button>
  <button mat-button routerLink="/bcc-form">New BC</button>
  <button mat-button routerLink="/bcc-list-view">Browse BCC</button>
  <button mat-button routerLink="/user-view">All User</button>
  <button mat-button routerLink="/login-view">Login</button>
  <button mat-button routerLink="/user-form">Registration</button>
  <button mat-button routerLink="/profile-display">My Profile</button>
</mat-toolbar>

<router-outlet></router-outlet>
